body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    background: url(../images/Desig.jpg);
    background-repeat: repeat;
    background-position: right;
    color: rgb(115, 8, 8);
    font-size: 25px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title {
    flex-direction: column;
    line-height: 5px;
    font-size: large;
}

header ul{
   font-family: 'Sugar';
   font-size: 20px;
}

header ul a {
    color: rgb(115, 8, 8);
    border: 2px solid rgb(115, 8, 8);
    border-radius: 20px;
    padding: 10px;

}

header ul a:hover {
    color:rgb(233, 6, 6);
    transition: 0.3s all;
}

header ul li {
    display: inline-block;
    margin: 20px;
}

header div h1{
    background-color: rgb(236, 158, 160);
    color: rgb(115, 8, 8);
    font-family: 'Sugar';
    font-size: 75px;
    font-weight: normal;
}
header div h2{
    background-color: rgb(236, 158, 160);
    color: rgb(115, 8, 8);
    font-family: 'Sugar';
    font-size: 30px;
    font-weight: normal;
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

main aside h2 {
    font-size: 56px;
    line-height: 60px;
    font-family: 'Sugar';
    margin-top: 10px;
}

main p {
    line-height: 20px;
    max-width: 500px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-align: justify;
}

main aside form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

form [type="submit"] {
    height: 70px;
    width: 100px;
    background-color: rgb(115, 8, 8);
    color: rgb(233, 6, 6);
    font-weight: bold;
}

form [type="submit"]:hover {
    cursor: pointer;
}

main aside form div {
    display: flex;
    flex-direction: row;
    width: 50%;
}

input {
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}

img {
    width: 550px;
    position: center;
}

main aside h2 span {
    font-family: 'Sugar';
    color: rgb(233, 6, 6);
}

.galery {
    width: 1000px;
    height: 550px;
    background-color: transparent;
    overflow: hidden;
}

.galery .fotos {
  width: 500%;
  animation-name: animacao;
  animation-duration: 20s;
  animation-iteration-count: infinite;  
}

.galery .fotos img {
    width: 19.9%;
}

.footer {
    font: 'Sugar';
    font-size: 50px;
    flex-direction: row;
}

